@media (min-width: 320px){
	nav a {
    font-size: 4vw;
  }
	h1 {
	  font-size: 7vw;	
	}
	img,video {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    min-height: 25%;
    min-width: 25%;
    max-height: 50%;
    max-width: 50%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid
  }
	.captions {
    font-size: 1.5vw;
		margin-top: 10px;
  }
	.event-date {
	  font-size: 1.75vw;
    font-weight: bold;
    margin: -5px 0px;
  }
  .event-title {
    font-size: 1.75vw;
  }
}

@media (min-width: 800px){
	nav a {
    font-size: 2vw;
  }
	h1 {
    font-size: 3.5vw;
  }
  img,video {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    min-height: 12.5;
    min-width: 12.5%;
    max-height: 25%;
    max-width: 25%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid
  }
	
}  
