@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

nav {
  text-align: center;
  background-color: black;
  padding: 16px;
  height: auto;
}

nav a {
  text-decoration: none;
  padding: 16px;
  color: white;
  font-family: "Big Shoulders Stencil", "Garamond", serif;
}

nav a:hover {
  background-color: green;
}

#map {
  height: 100%;
	width: 100%
}
body {
  background-color: gray;
  font-family: "Courier New", monospace;
  text-align: center;
	margin: 25px;
}

h1 {
  text-align: left;
}

h2 {
  display: block;	
}

h3 {
  text-transform: uppercase;
  font-size: 2vw;
}

h4 {
  font-size: 1.5vw;
  display: inline-table;
  margin: -5px 0px;
}

li{
  font-size: 1.5vw;
  margin: 3px 20px;
}

.center {
  text-align: center;
}

.selected {
  background-color: green;
}

.container{
  padding: 32px 24px;
  box-shadow: 0px 5px 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* Home Page Styling */
.homeimg {
  height: 300px;
  width: 500px;
  max-height: 300px;
  max-width: 500px;
}

.homeh1 {
  font-size: 40px;
}

.homep {
  font-size: 16px;
  padding: 10px;
}

.homea {
  color: green;
}

.personalhistory {
  outline-style: solid;
  outline-color: lightblue;
  outline-width: 5px;
  padding: 10px;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius:  10px;
  margin: 5px 0px;
}	

/* Resume Styling */
.classes {
  font-style: italic;
}

.rightalign {
  float: right;	
}

.jobtitle {
  font-style: italic;	
  text-decoration: underline;
}

.resume {
  font-family: "Times New Roman", serif;
  padding: 32px 24px;
  box-shadow: 0px 5px 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  text-align: left;
}

/* About Me Styling */
.captions {
	margin-top: 10px;
}
.timeline {
  position: relative;
  padding: 20px;
}
/* Timeline CSS */
.timeline::before {
/* Creates a line to have timeline events on */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px; 
  width: 2px;
  background-color: gray;
}

.timeline-event {
  position: relative;
  padding: 10px 20px;
  margin-left: 40px; 
}

.timeline-event::before {
/* Creates a bullet market at the timeline event*/
  content: "";
  position: absolute;
  top: 10px; 
  left: -30px; 
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.event-date {
  margin: -5px 0px;
}

.event-title{
	font-style: italic;
}
